.figure img {
   border: 1px solid #999 !important;
   box-shadow: 5px 5px 5px #ccc !important;
  -moz-box-shadow: 5px 5px 5px #ccc !important;
  -webkit-box-shadow: 5px 5px 5px #ccc !important;
  -khtml-box-shadow: 5px 5px 5px #ccc !important;
  margin-left: auto;
  margin-right: auto;
 }

/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
     /* !important prevents the common CSS stylesheets from overriding
        this as on RTD they are loaded after this stylesheet */
     white-space: normal !important;
  }

  .wy-table-responsive {
     overflow: visible !important;
  }
}